@import "common";
.food-detail-content{
  background: #f5f5f5;
  height:100%;
  overflow: scroll;
  padding-bottom: toRem(53px);
  box-sizing: border-box;
  .dish-bottom {
    .shopcart {
      position: fixed !important;
      left: 0 !important;
      bottom: 0 ;
      z-index: 901;
      width: 100%;
      height: toRem(53px);
      &.bot{
        bottom:5px;
      }
      .content {
        display: flex;
        background: #505052;
        font-size: 0;
        color: #fff;
        .content-left {
          flex: 1;
          .logo-wrapper {
            display: inline-block;
            vertical-align: top;
            position: relative;
            bottom: toRem(20px);
            margin: 0 toRem(12px);
            //padding: 6px;
            width: toRem(61px);
            height: toRem(61px);
            box-sizing: border-box;
            border-radius: 50%;
            background: #141d27;
            background: url('../images/menu_shoppingcart_icon_a.png') no-repeat;
            background-size: toRem(61px);
            &.highlight {
              background: url('../images/menu_shoppingcart_icon_s.png') no-repeat;
              background-size: toRem(61px);
            }
            .num {
              position: absolute;
              top: toRem(5px);
              right: toRem(2px);
              width: toRem(17px);
              height: toRem(17px);
              line-height: toRem(19px);
              text-align: center;
              border-radius: 50%;
              font-size: toRem(11px);
              font-weight: 700;
              color: #fff;
              background: #ff5500;
              &.double {
                width: 25px;
                border-radius: 40%;
              }
            }
          }
          .price-wrapper {
            display: inline-block;
            vertical-align: top;
            .price {
              color: #fff;
              font-size: toRem(19px);
              line-height: toRem(19px);
              margin: toRem(10px) 0 toRem(5px) 0;
            }
            .desc {
              color: #fff;
              font-size: toRem(11px);
              line-height: toRem(11px);
            }
          }
        }
        .content-right {
          position: absolute;
          right: 0;
          bottom: 0;
          //width: toRem(116px);
          height: toRem(53px);
          .pay {
            display: inline-block;
            height: toRem(53px);
            line-height: toRem(53px);
            color: #fff;
            font-size: toRem(16px);
            background: #535356;
            text-align: center;
            padding: 0 toRem(15px);
            min-width: toRem(86px);
            &.not-enough {
              background: #535356;
              color: #fff;
            }
            &.enough {
              background: $main-color;
              color: #fff;
            }
          }
        }
      }
      .ball-container {
        .ball {
          position: fixed;
          left: 32px;
          bottom: 22px;
          z-index: 200;
          transition: all 0.4s cubic-bezier(0.49, -0.29, 0.75, 0.41);
          .inner {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: rgb(0, 160, 220);
            transition: all 0.4s linear;
          }
        }
      }
    }
    .shopping-list{
      position: fixed;
      left: 0;
      bottom: toRem(53px);
      z-index: 100;
      width:100%;
      .discounts{
        display: block;
        background:#fcf5c6;
        opacity: .9;
        height:toRem(28px);
      }
      >p{
        position: absolute;
        text-align: center;
        left: 0;
        //bottom: toRem(60px);
        top:toRem(9px);
        z-index: 50;
        width: 100%;
        font-size: toRem(11px);
        color:#333;
        line-height: toRem(11px);
        >span{
          color:#ff5339;
        }
      }
      >h2{
        background: #eee;
        color:#666;
        font-size: toRem(15px);
        height:toRem(40px);
        line-height: toRem(40px);
        padding: 0 toRem(15px) 0 toRem(11px);
        border-left:toRem(4px) solid #ffc233;
        box-sizing: border-box;
        >span{
          display: inline-block;
          float: right;
          font-size: toRem(12px);
          >i{
            display: inline-block;
            margin-right: toRem(6px);
            width:toRem(11px);
            height:toRem(12px);
            background: url('../images/delete_icon.png') no-repeat;
            background-size:toRem(11px) toRem(12px);
          }
        }
      }
      >ul{
        background: #fff;
        >li{
          margin-left: toRem(15px);
          border-bottom: 1px solid #eee;
          height:toRem(68px);
          //line-height: toRem(68px);
          padding: toRem(18px) toRem(15px) 0 0;
          box-sizing: border-box;
          >div{
            display: inline-block;
            &:nth-child(1){
              >h2{
                color:#333;
                font-size: toRem(14px);
                line-height: toRem(14px);
                margin-bottom: toRem(8px);
              }
              >p{
                font-size: toRem(10px);
                color:#999;
                line-height: toRem(10px);
              }
            }
            &:nth-child(2){
              float: right;
              margin-top: toRem(5px);
              >strong{
                display: inline-block;
                color:$main-color;
                font-size: toRem(16px);
                margin-top: toRem(2px);
              }
              >strong:before{
                font-weight: 400;
                content: "\A5";
                font-size: toRem(10px);
                display: inline-block;
              }
              >div{
                display: inline-block;
                float: right;
                margin-left: toRem(15px);
                >a{
                  display: inline-block;
                  vertical-align: top;
                  width:toRem(22px);
                  height:toRem(22px);
                }
                .reduce{
                  background: url('../images/menu_subtract.png') no-repeat;
                  background-size: toRem(22px);
                }
                .add{
                  background: url('../images/menu_add.png') no-repeat;
                  background-size: toRem(22px);
                }
                >span{
                  color:#666;
                  font-size: toRem(14px);
                  display: inline-block;
                  line-height: toRem(14px);
                  margin:toRem(5px) toRem(10px) 0 toRem(10px);
                }
              }
            }
          }
        }
      }
      .qita{
        background: #fff;
        height:toRem(68px);
        padding: toRem(23px) toRem(111px) 0 toRem(15px);
        box-sizing: border-box;
        >p{
          color:#333;
          font-size: toRem(14px);
          >strong{
            color:$main-color;
            font-size: toRem(16px);
            float: right;
          }
          >strong:before{
            font-weight: 400;
            content: "\A5";
            font-size: toRem(10px);
            display: inline-block;
          }
        }
      }
    }
    .shade{
      position: fixed;
      left: 0;
      bottom: toRem(53px);
      z-index: 99;
      width:100%;
      height:100vh;
      background: #000;
      opacity: .5;
    }
  }
  .food-detail-top{
    background: #fff;
    >a{
      display: block;
      >div{
        &:nth-child(1){
          position: relative;
          >img{
            width:100%;
            height:toRem(350px);
            display: block;
          }
          &:before{
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height:toRem(100px);
            background: linear-gradient(transparent,rgba(0,0,0,.3));
          }
        }
        &:nth-child(2){
          position: relative;
          padding: toRem(14px) toRem(15px) toRem(11px) toRem(20px);
          height: toRem(118px);
          box-sizing: border-box;
          >h2{
            color:#333;
            font-size: toRem(15px);
            line-height: toRem(15px);
            font-weight: bold;
            //margin: toRem(4px) 0 toRem(8px) 0;
          }
          >h3{
            position: absolute;
            color:#fff;
            font-size: toRem(10px);
            line-height: toRem(15px);
            bottom:toRem(132px);
            padding-right: toRem(10px);
          }
          >h4{
            color:#666;
            font-size: toRem(12px);
            line-height: toRem(12px);
            margin: toRem(10px) 0 toRem(9px) 0;
            >span{
              display: inline-block;
              &:nth-child(1){
                margin-right:toRem(6px);
              }
            }
          }
          >p{
            line-height: toRem(17px);
            margin: toRem(6px) 0;
            .recommend{
              color:#ff5339;
              font-size: toRem(9px);
              border:1px solid #ff7561;
              border-radius: toRem(1px);
              padding: toRem(1px) toRem(3px) 0 toRem(3px);
            }
            .surplus{
              color:#0089ff;
              font-size:toRem(9px);
              border-radius: toRem(1px);
              padding: toRem(2px) toRem(5px) toRem(1px) toRem(5px);
              background: #dbeaff;
              margin-left: toRem(9px);
            }
          }
          >div{
            >strong{
              color:$main-color;
              font-size: toRem(16px);
            }
            >strong:before{
              font-weight: 400;
              content: "\A5";
              font-size: toRem(14px);
              display: inline-block;
            }
            >a{
              display: inline-block;
              float: right;
              color:#fff;
              font-size: toRem(11px);
              line-height: toRem(11px);
              width:toRem(80px);
              text-align: center;
              padding: toRem(7px) 0 toRem(6px) 0;
              background: linear-gradient(to right,#ffa200,$main-color);
              border-radius: toRem(11px);
            }
            >div{
              display: inline-block;
              float: right;
              >a{
                display: inline-block;
                vertical-align: top;
                width:toRem(22px);
                height:toRem(22px);
              }
              .reduce{
                background: url('../images/menu_subtract.png') no-repeat;
                background-size: toRem(22px);
              }
              .add{
                background: url('../images/menu_add.png') no-repeat;
                background-size: toRem(22px);
              }
              >span{
                color:#666;
                font-size: toRem(14px);
                display: inline-block;
                line-height: toRem(14px);
                margin:toRem(5px) toRem(10px) 0 toRem(10px);
              }
            }
          }
        }
      }
    }
    background: #fff;
    height:toRem(470px);
    width:100%;
    margin: auto;
  }
  .food-detail-appraise{
    background: #fff;
    margin: toRem(12px) 0;
    >h2{
      padding: toRem(16px) toRem(15px) toRem(14px) toRem(5px);
      margin-left: toRem(15px);
      color:#333;
      font-size: toRem(15px);
      line-height: toRem(15px);
      border-bottom: 1px solid #eee;
      >span{
        font-size: toRem(13px);
      }
      >a{
        display: inline-block;
        float: right;
        color:#999;
        font-size: toRem(13px);
        >i{
          display: inline-block;
          vertical-align: top;
          width:toRem(8px);
          height:toRem(13px);
          margin-top: toRem(1px);
          background: url('../images/order detail_store_arrow.png') no-repeat left top;
          background-size: toRem(16px) toRem(13px);
          margin-left: toRem(6px);
        }
      }
    }
    >ul{
      margin-left: toRem(15px);
      >li{
        padding: toRem(14px) 0 toRem(17px) 0;
        border-bottom: 1px solid #eee;
        >img{
          display: inline-block;
          vertical-align: top;
          width:toRem(32px);
          height:toRem(32px);
          margin-right: toRem(6px);
        }
        >div{
          display:inline-block;
          margin-top: toRem(2px);
          >h3{
            font-size: toRem(12px);
            color:#333;
            line-height: toRem(12px);
            >span{
              color:#999;
              font-size: toRem(11px);
              margin-left: toRem(11px);
            }
          }
          >h4{
            color:#666;
            font-size: toRem(11px);
            margin: toRem(10px) 0 toRem(18px) 0;
            line-height: toRem(11px);
            >img{
              display: inline-block;
              width:toRem(11px);
              height:toRem(11px);
              margin: 0 toRem(4px) 0 toRem(6px);
            }
            >span{
              color:#ffc233;
              font-size: toRem(11px);
            }
          }
          >p{
            color:#666;
            font-size: toRem(12px);
            line-height: toRem(12px);
          }
        }
      }
    }
    >a{
      display:block ;
      padding: toRem(16px) 0;
      text-align: center;
      color:#999;
      font-size: toRem(12px);
      >i{
        display: inline-block;
        vertical-align: top;
        width:toRem(8px);
        height:toRem(13px);
        margin-top: toRem(1px);
        background: url('../images/order detail_store_arrow.png') no-repeat left top;
        background-size: toRem(16px) toRem(13px);
        margin-left: toRem(6px);
      }
    }
  }
  .food-detail-recommend{
    >p{
      background: #fff;
      color:#333;
      font-size: toRem(14px);
      padding: toRem(16px) 0 toRem(14px) toRem(15px);
      line-height: toRem(14px);
      margin-bottom: toRem(2px);
    }
    >div{
      background: #f5f5f5;
       >a{
         display: inline-block;
         vertical-align: top;
        background: #fff;
        width:toRem(205px);
         margin-bottom: toRem(2px);
          >div{
            display: block;
            &:nth-child(1){
              >img{
                display: block;
                width:toRem(205px);
                height:toRem(205px);
              }
            }
            &:nth-child(2){
              position: relative;
              padding: toRem(12px) toRem(10px) toRem(16px) toRem(11px);
              height:toRem(88px);
              box-sizing: border-box;
              >h2{
                color:#333;
                font-size: toRem(13px);
                line-height: toRem(13px);
                font-weight: bold;
                margin-bottom:toRem(7px);
              }
              >p{
                line-height: toRem(17px);
                .recommend{
                  color:#ff5339;
                  font-size: toRem(9px);
                  border:1px solid #ff7561;
                  border-radius: toRem(1px);
                  padding: toRem(1px) toRem(3px) 0 toRem(3px);
                }
              }
              >strong{
                position: absolute;
                bottom: toRem(14px);
                color:$main-color;
                font-size: toRem(16px);
                line-height: toRem(16px);
              }
              >strong:before{
                font-weight: 400;
                content: "\A5";
                font-size: toRem(10px);
                display: inline-block;
              }
              >div{
                position: absolute;
                bottom: toRem(16px);
                display: inline-block;
                right: toRem(10px);
                >a{
                  display: inline-block;
                  vertical-align: top;
                  width:toRem(22px);
                  height:toRem(22px);
                }
                .reduce{
                  background: url('../images/menu_subtract.png') no-repeat;
                  background-size: toRem(22px);
                }
                .add{
                  background: url('../images/menu_add.png') no-repeat;
                  background-size: toRem(22px);
                }
                >span{
                  color:#666;
                  font-size: toRem(14px);
                  display: inline-block;
                  line-height: toRem(14px);
                  margin:toRem(5px) toRem(10px) 0 toRem(10px);
                }
              }
            }
          }
         &:nth-child(odd){
           margin-right:toRem(4px);
         }
      }
    }
  }
  .food-panel{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    >div{
      display: block;
      &:nth-child(1){
        >a{
          display: block;
          >div{
            &:nth-child(1){
              position: relative;
              >img{
                width:toRem(353px);
                height:toRem(353px);
                display: block;
              }
              &:before{
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
                height:toRem(100px);
                background: linear-gradient(transparent,rgba(0,0,0,.3));
              }
            }
            &:nth-child(2){
              position: relative;
              padding: toRem(12px) toRem(10px) 0 toRem(20px);
              height: toRem(102px);
              box-sizing: border-box;
              >h2{
                color:#333;
                font-size: toRem(15px);
                line-height: toRem(15px);
                font-weight: bold;
                //margin: toRem(4px) 0 toRem(8px) 0;
              }
              >h3{
                position: absolute;
                color:#fff;
                font-size: toRem(10px);
                line-height: toRem(15px);
                bottom:toRem(116px);
                padding-right: toRem(10px);
              }
              >h4{
                color:#666;
                font-size: toRem(12px);
                line-height: toRem(12px);
                margin: toRem(10px) 0 toRem(9px) 0;
                >span{
                  display: inline-block;
                  &:nth-child(1){
                    margin-right:toRem(6px);
                  }
                }
              }
              >p{
                line-height: toRem(17px);
                margin: toRem(6px) 0;
                .recommend{
                  color:#ff5339;
                  font-size: toRem(9px);
                  border:1px solid #ff7561;
                  border-radius: toRem(1px);
                  padding: toRem(1px) toRem(3px) 0 toRem(3px);
                }
                .surplus{
                  color:#0089ff;
                  font-size:toRem(9px);
                  border-radius: toRem(1px);
                  padding: toRem(2px) toRem(5px) toRem(1px) toRem(5px);
                  background: #dbeaff;
                  margin-left: toRem(9px);
                }
              }
              >div{
                >strong{
                  color:$main-color;
                  font-size: toRem(16px);
                }
                >strong:before{
                  font-weight: 400;
                  content: "\A5";
                  font-size: toRem(14px);
                  display: inline-block;
                }
                >a{
                  display: inline-block;
                  float: right;
                  color:#fff;
                  font-size: toRem(11px);
                  line-height: toRem(11px);
                  width:toRem(80px);
                  text-align: center;
                  padding: toRem(7px) 0 toRem(6px) 0;
                  background: linear-gradient(to right,#ffa200,$main-color);
                  border-radius: toRem(11px);
                }
                >div{
                  display: inline-block;
                  float: right;
                  >a{
                    display: inline-block;
                    vertical-align: top;
                    width:toRem(22px);
                    height:toRem(22px);
                  }
                  .reduce{
                    background: url('../images/menu_subtract.png') no-repeat;
                    background-size: toRem(22px);
                  }
                  .add{
                    background: url('../images/menu_add.png') no-repeat;
                    background-size: toRem(22px);
                  }
                  >span{
                    color:#666;
                    font-size: toRem(14px);
                    display: inline-block;
                    line-height: toRem(14px);
                    margin:toRem(5px) toRem(10px) 0 toRem(10px);
                  }
                }
              }
            }
          }
        }
        background: #fff;
        height:toRem(470px);
        width:toRem(353px);
        margin: auto;
        position: relative;
        z-index: 1001;
        top:50%;
        margin-top: toRem(-235px);
        border-radius: toRem(5px);
      }
      &:nth-child(2){
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,.5);
        top: 0;
        left: 0;
        z-index: 1000;
      }
    }
  }
}